FLASK_ENV=development
DATABASE_URL=postgresql://sda:sda@localhost:5432/sda
JWT_SECRET_KEY=change-me-to-a-random-secret-key
FRONTEND_URL=http://localhost:3000
MIDTRANS_SERVER_KEY=SB-Mid-server-7Fp0W-6BPItzBeHc4WmVz0rh
MIDTRANS_CLIENT_KEY=SB-Mid-client-VNwEU_8NEdo5N3og
MIDTRANS_IS_PRODUCTION=false
